{
        auto_https off
}

:443 {
        tls /etc/caddy/certs/cert.pem /etc/caddy/certs/key.pem

        handle /api/* {
                reverse_proxy gateway-service:8080
        }

        handle /ws/* {
                reverse_proxy gateway-service:8080
        }

        handle {
                reverse_proxy frontend-service:80
        }

        encode gzip
}

:80 {
        redir https://{host}{uri} permanent
}