:80 {
	handle_path /api/* {
		reverse_proxy gateway-service:8080
	}

	handle /auth/* {
		reverse_proxy gateway-service:8080
	}

	handle /users/* {
		reverse_proxy gateway-service:8080
	}

	handle /ws/* {
		reverse_proxy websocket-service:3004
	}

	handle {
		reverse_proxy frontend-service:80
	}

	encode gzip
}
