# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# Secrets
docker/.env
*.pem
id_ed25519*

# OS
.DS_Store
Thumbs.db
